* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', Courier, monospace
    
  }

  


h1{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  color: blue;
  padding-top: 10px;

  
}

a{
  text-decoration: none;
}

.nome{
  color: brown;
  padding-bottom: 20px;
  font-weight: bold;
}

.icone{
  width: 30px;
  float: left;
  top: 30px;
}

img{
 width: 160px;
  float:right;

  
}




h2{
  color: blue;
}

span{
  font-weight: bolder;
  
}





