@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap');

body{
    margin: 0px;
    font-family: 'Fira Code', monospace;
}
p{
    line-height: 2;
    
}


h1{
    text-align: center;
    color: blue;
    font-weight: 400;
}

img{
    float: right;
    border-radius: 50%;
}

h3{
    color: blue;
    font-weight: 400;
}