* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    
  }

  


h1{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  color: blue;
  padding-top: 10px;


}

img{
  width: 130px;
  float:right;
}

h2{
  color: blue;
}

span{
  font-weight: bolder;
  
}





